<section class="container my-5">

    <h2>Formulario</h2>

    <!-- Nombre y Apellido -->
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre y Apellido</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>


    <!-- Genero -->
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Genero</mat-label>
        <mat-select>
          <mat-option value="one">Masculino</mat-option>
          <mat-option value="two">Femenino</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

</section>
